BODY {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: medium;*/
    line-height: 1.3;
    margin: 2em 8%;
    text-align: justify }
H6, H5, H4, H3, H2 {
    text-align: left }
H1 {
    text-align: center }
H6, H5, H4 {
    font-size: medium;
    font-style: italic;
    font-variant: normal;
    font-weight: normal }
H3 {
    font-size: medium;
    /* font-style: italic; */
    font-variant: small-caps;
    font-weight: normal;
    margin-left: -5% }
H2 {
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-left: -5% }
H1 {
    font-size: large;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-left: -5%;
    color: #830;
    padding: 0.5em }
A:link {
    color: #CC0000 }
A:visited {
    color: #330099 }
DIV.news {
    background: #aaf;
    /*color: #ccc;*/
    padding: 0.5em;
    border: solid thick #008;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    /* float: left;
    width: 25%; */
    margin: 0.5em 10% 0.5em 10% }
DIV.news A:link, P.news A:visited {
    color: black;
    text-decoration: underline }
DIV.news P { text-align: center }
DIV.news P IMG { text-align: left; vertical-align: bottom }
/* DIV.news IMG { float: left } */
HR {
    color: #555555 }
ADDRESS {
    text-align: right }
DT {
    font-weight: bold }
SMALL {
    font-size: smaller }
BLOCKQUOTE {
    padding: 0.5em;
    margin: 1em 0em 1em 1em;
    border: solid thin }
BLOCKQUOTE H3, BLOCKQUOTE H2, BLOCKQUOTE H1 {
    margin-left: 0;}
PRE {
    margin: 1em 0em 1em 1em;
    font-family: "lucida sans typewriter", monospace }
.action {
    /* color: #F00; */
    background: #CFB }
A IMG {
    border-width: 0 }
.header IMG {
    vertical-align: middle }
DIV.note {
    color: green;    
    margin-left: 1em }
P.note {
    color: green;
    margin-left: 1em }
.policyfooter {
    font-size: small }
.policyfooter SMALL {
    font-size: 100% }
