/* ------------------------------------------------------------------------------
   YaPiG Default template CSS
   
   Just modifying this file you can heavily customize your 
   YaPiG's look.
   
-----------------------------------------------------------------------------*/

/****************************************************
 HTML Elements
******************************************************/

/* ----------- Links --------------------- */
a:link{
	color:#7777D5;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	text-decoration: underline;
}

/* --------------------------------------- */

body {
     font-family: Arial,Verdana, sans-serif;
     color: #666676;
     background: #DFDFEF;
     font-size: 80%;
     margin: 0pt;
}

div {
    margin-left: 20px;
}

pre {
   margin-left: 20px;	    
}  

h3,h4,p {
   margin-left: 20px;
}

table {
      margin-left: 12px;
      font-size: inherit;
}

h1 {
   margin-top: 8px;
   margin-bottom: 5px;
   padding: 3px;
   border: thin solid #9F9FAF;
   background: #BFBFcF;
   color: white;
   clear: both;
   }



/* ------------ Forms ------------------------ */

input,textarea {
	background: white;
	border: thin solid #AAAABA;
	color: black;
	padding: 2px;
	margin-left: 5px;
}

/* ------------------------------------------ */

strong {
       color: #F79797;
}

address {
	 border-top: thin solid #000010;
	 margin: 10px;
	 background: #CCCCdC;
}


/******************************************************
YaPiG Interface Classes
*******************************************************/

.center {
  text-align: center;
}


/*  Main task bar style */
.main {
      border-bottom: thin dotted #7777C7;
      /*background: #9F9FAF;*/
      font-size: 80%;
      padding-bottom: 3px;
      color: #444464;
      margin: 3px;
}

/* form buttons style */
.formbutton {
	border: thin outset #AAAAFA;
	/*background: #BBBBCA;*/
}


/* gallery index container (div)*/
.gidindex {
	 border-bottom: thin dashed #AAAABA;
	 width: 100%;
	 font-size: 90%;
}

.gidindextable{
	       width: 95%;
	       font-size: inherit;
}

/* information about a gallery container style*/
.gidindexdata{
	 /* border: thin dotted #AAAABA;*/
	/*  background: #DDDDED;*/	  
}

/*  TD of Index of galleries */
.gidindextd{
	    width: 180px;
}

/*DIV containing information about image information (name,size,dimensions)*/
.phidinfo{
	  border: thin solid #AAAABA;
	  background: #D0D0E0;
	  margin: 6px;
	  padding: 5px;
	  }
	  
/* Box style with the name,web,email and the posted comment*/
.comment {
	  border: thin solid #BAAAAA;
	  background: #EDDDDD;
	  margin: 5px;
	  padding: 5px;
}

/* Image text (name,caption,hits,comments) in a gallery index (below thumbnail) */
.view {
      font-size: 80%;
}

/*Thumbnail Image style */
.thumb {
       border: thin outset #9999A9;
}

/* div style of the container of the 'big' image */
.viewimage {
	   text-align: center;
}

/* style of the 'big' image itself*/
.image{
}

.red {
       color: #F75757;
       background: auto;
}


/* Admin task bar style */
.admin {
      border-bottom: thin solid #FAAAAA;
      color: #FAAAAA;
      padding: 2px;
      background: #FCDCDC;
      margin: 10px;      
}

/* Admin forms */
.admin_data {
      margin-left: 15px;
}

/**
 * For the exif DIV (template: phid_info.php)
*/
.exif_data{
  margin-bottom: 3px;
  padding: 5px;
  float: right;
  font-size: 80%;
  background: #DDDDEE;
  border: thin solid #AAAABA;

}
