vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2001 18:22:57 -0000
vti_author:SR|Auton
vti_modifiedby:SR|Auton
vti_timecreated:TR|09 Mar 2001 22:47:55 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.2717
vti_syncwith_localhost\\c\:\\my documents\\my webs\\gonadovision/c\:/my documents/my webs/gonadovision:TR|23 May 2001 18:22:57 -0000
vti_nexttolasttimemodified:TR|23 May 2001 18:22:57 -0000
vti_filesize:IR|2154
vti_cacheddtm:TX|19 Oct 2001 15:13:02 -0000
vti_cachedlinkinfo:VX|S|blrule.gif S|blbull1.gif S|blbull2.gif S|blbull3.gif S|blphb.gif S|blphb.gif S|blphbp.gif S|blpvb.gif S|blpvb.gif S|blpvbp.gif S|blhome.gif S|blhome.gif S|blhome.gif S|blnext.gif S|blnext.gif S|blnext.gif S|blprev.gif S|blprev.gif S|blprev.gif S|blup.gif S|blup.gif S|blup.gif S|blbull1.gif S|blbull2.gif S|blbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/photostory/blrule.gif FSUS|_themes/photostory/blbull1.gif FSUS|_themes/photostory/blbull2.gif FSUS|_themes/photostory/blbull3.gif FSUS|_themes/photostory/blphb.gif FSUS|_themes/photostory/blphb.gif FSUS|_themes/photostory/blphbp.gif FSUS|_themes/photostory/blpvb.gif FSUS|_themes/photostory/blpvb.gif FSUS|_themes/photostory/blpvbp.gif FSUS|_themes/photostory/blhome.gif FSUS|_themes/photostory/blhome.gif FSUS|_themes/photostory/blhome.gif FSUS|_themes/photostory/blnext.gif FSUS|_themes/photostory/blnext.gif FSUS|_themes/photostory/blnext.gif FSUS|_themes/photostory/blprev.gif FSUS|_themes/photostory/blprev.gif FSUS|_themes/photostory/blprev.gif FSUS|_themes/photostory/blup.gif FSUS|_themes/photostory/blup.gif FSUS|_themes/photostory/blup.gif FSUS|_themes/photostory/blbull1.gif FSUS|_themes/photostory/blbull2.gif FSUS|_themes/photostory/blbull3.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
