vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2001 18:22:57 -0000
vti_author:SR|Auton
vti_modifiedby:SR|Auton
vti_timecreated:TR|09 Mar 2001 22:47:55 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.2717
vti_syncwith_localhost\\c\:\\my documents\\my webs\\gonadovision/c\:/my documents/my webs/gonadovision:TR|23 May 2001 18:22:57 -0000
vti_nexttolasttimemodified:TR|23 May 2001 18:22:57 -0000
vti_filesize:IR|2224
vti_cacheddtm:TX|19 Oct 2001 15:13:02 -0000
vti_cachedlinkinfo:VX|S|ablrule.gif S|ablbull1.gif S|ablbull2.gif S|ablbull3.gif S|ablbnr.gif S|blhbs.gif S|blhbh.gif S|blhbp.gif S|blvbs.gif S|blvbh.gif S|blvbp.gif S|blhomes.gif S|blhomeh.gif S|blhomes.gif S|blnexts.gif S|blnexth.gif S|blnexts.gif S|blprevs.gif S|blprevh.gif S|blprevs.gif S|blups.gif S|bluph.gif S|blups.gif S|ablbull1.gif S|ablbull2.gif S|ablbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/photostory/ablrule.gif FSUS|_themes/photostory/ablbull1.gif FSUS|_themes/photostory/ablbull2.gif FSUS|_themes/photostory/ablbull3.gif FSUS|_themes/photostory/ablbnr.gif FSUS|_themes/photostory/blhbs.gif FSUS|_themes/photostory/blhbh.gif FSUS|_themes/photostory/blhbp.gif FSUS|_themes/photostory/blvbs.gif FSUS|_themes/photostory/blvbh.gif FSUS|_themes/photostory/blvbp.gif FSUS|_themes/photostory/blhomes.gif FSUS|_themes/photostory/blhomeh.gif FSUS|_themes/photostory/blhomes.gif FSUS|_themes/photostory/blnexts.gif FSUS|_themes/photostory/blnexth.gif FSUS|_themes/photostory/blnexts.gif FSUS|_themes/photostory/blprevs.gif FSUS|_themes/photostory/blprevh.gif FSUS|_themes/photostory/blprevs.gif FSUS|_themes/photostory/blups.gif FSUS|_themes/photostory/bluph.gif FSUS|_themes/photostory/blups.gif FSUS|_themes/photostory/ablbull1.gif FSUS|_themes/photostory/ablbull2.gif FSUS|_themes/photostory/ablbull3.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
