vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2001 18:22:57 -0000
vti_author:SR|Auton
vti_modifiedby:SR|Auton
vti_timecreated:TR|09 Mar 2001 22:47:55 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.2717
vti_syncwith_localhost\\c\:\\my documents\\my webs\\gonadovision/c\:/my documents/my webs/gonadovision:TR|23 May 2001 18:22:57 -0000
vti_nexttolasttimemodified:TR|23 May 2001 18:22:57 -0000
vti_filesize:IR|2603
vti_cacheddtm:TX|19 Oct 2001 15:13:02 -0000
vti_cachedlinkinfo:VX|S|blglb.gif S|back.jpg
vti_cachedsvcrellinks:VX|FSUS|_themes/photostory/blglb.gif FSUS|_themes/photostory/back.jpg
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
