vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2001 18:42:31 -0000
vti_author:SR|Auton
vti_modifiedby:SR|Auton
vti_timecreated:TR|23 May 2001 19:03:02 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.2717
vti_syncwith_localhost\\c\:\\my documents\\my webs\\gonadovision/c\:/my documents/my webs/gonadovision:TR|23 May 2001 18:42:31 -0000
vti_filesize:IR|1481
vti_nexttolasttimemodified:TR|23 May 2001 18:42:31 -0000
vti_cacheddtm:TX|19 Oct 2001 15:12:56 -0000
vti_cachedlinkinfo:VX|S|indbannd.gif S|indhorsd.gif S|indbul1d.gif S|indbul2d.gif S|indbul3d.gif S|indhbusd.gif S|indhbudd.gif S|indvbusd.gif S|indvbudd.gif S|indhombd.gif S|indupbd.gif S|indprebd.gif S|indnexbd.gif S|indbul1d.gif S|indbul2d.gif S|indbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indbannd.gif FSUS|_themes/indust/indhorsd.gif FSUS|_themes/indust/indbul1d.gif FSUS|_themes/indust/indbul2d.gif FSUS|_themes/indust/indbul3d.gif FSUS|_themes/indust/indhbusd.gif FSUS|_themes/indust/indhbudd.gif FSUS|_themes/indust/indvbusd.gif FSUS|_themes/indust/indvbudd.gif FSUS|_themes/indust/indhombd.gif FSUS|_themes/indust/indupbd.gif FSUS|_themes/indust/indprebd.gif FSUS|_themes/indust/indnexbd.gif FSUS|_themes/indust/indbul1d.gif FSUS|_themes/indust/indbul2d.gif FSUS|_themes/indust/indbul3d.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
