vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Oct 2001 01:05:27 -0000
vti_author:SR|Auton
vti_modifiedby:SR|Auton
vti_timecreated:TR|20 Oct 2001 01:07:59 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.2717
vti_syncwith_localhost\\c\:\\my documents\\my webs\\gonadovision/c\:/my documents/my webs/gonadovision:TR|20 Oct 2001 01:05:27 -0000
vti_cacheddtm:TX|20 Oct 2001 01:08:00 -0000
vti_filesize:IR|2533
vti_cachedlinkinfo:VX|S|sumhorsd.gif S|sumbul1d.gif S|sumbul2d.gif S|sumbul3d.gif S|sumbannd.gif S|sumhbudd.gif S|sumhbudd.gif S|sumhbusd.gif S|sumvbudd.gif S|sumvbudd.gif S|sumvbusd.gif S|sumhombd.gif S|sumhombd.gif S|sumhombd.gif S|sumnexbd.gif S|sumnexbd.gif S|sumnexbd.gif S|sumprebd.gif S|sumprebd.gif S|sumprebd.gif S|sumupbd.gif S|sumupbd.gif S|sumupbd.gif S|sumbul1d.gif S|sumbul2d.gif S|sumbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/scotland/sumhorsd.gif FSUS|_themes/scotland/sumbul1d.gif FSUS|_themes/scotland/sumbul2d.gif FSUS|_themes/scotland/sumbul3d.gif FSUS|_themes/scotland/sumbannd.gif FSUS|_themes/scotland/sumhbudd.gif FSUS|_themes/scotland/sumhbudd.gif FSUS|_themes/scotland/sumhbusd.gif FSUS|_themes/scotland/sumvbudd.gif FSUS|_themes/scotland/sumvbudd.gif FSUS|_themes/scotland/sumvbusd.gif FSUS|_themes/scotland/sumhombd.gif FSUS|_themes/scotland/sumhombd.gif FSUS|_themes/scotland/sumhombd.gif FSUS|_themes/scotland/sumnexbd.gif FSUS|_themes/scotland/sumnexbd.gif FSUS|_themes/scotland/sumnexbd.gif FSUS|_themes/scotland/sumprebd.gif FSUS|_themes/scotland/sumprebd.gif FSUS|_themes/scotland/sumprebd.gif FSUS|_themes/scotland/sumupbd.gif FSUS|_themes/scotland/sumupbd.gif FSUS|_themes/scotland/sumupbd.gif FSUS|_themes/scotland/sumbul1d.gif FSUS|_themes/scotland/sumbul2d.gif FSUS|_themes/scotland/sumbul3d.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
