vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Oct 2001 01:05:27 -0000
vti_author:SR|Auton
vti_modifiedby:SR|Auton
vti_timecreated:TR|20 Oct 2001 01:07:59 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.2717
vti_syncwith_localhost\\c\:\\my documents\\my webs\\gonadovision/c\:/my documents/my webs/gonadovision:TR|20 Oct 2001 01:05:27 -0000
vti_cacheddtm:TX|20 Oct 2001 01:08:00 -0000
vti_filesize:IR|2525
vti_cachedlinkinfo:VX|S|sumhorsa.gif S|sumbul1a.gif S|sumbul2a.gif S|sumbul3a.gif S|sumbanna.gif S|sumhbuda.gif S|sumhbuha.gif S|sumhbusa.gif S|sumvbuda.gif S|sumvbuha.gif S|sumvbusa.gif S|sumhomda.gif S|sumhomha.gif S|sumhomsa.gif S|sumnexda.gif S|sumnexha.gif S|sumnexsa.gif S|sumpreda.gif S|sumpreha.gif S|sumpresa.gif S|sumupda.gif S|sumupha.gif S|sumupsa.gif S|sumbul1a.gif S|sumbul2a.gif S|sumbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/scotland/sumhorsa.gif FSUS|_themes/scotland/sumbul1a.gif FSUS|_themes/scotland/sumbul2a.gif FSUS|_themes/scotland/sumbul3a.gif FSUS|_themes/scotland/sumbanna.gif FSUS|_themes/scotland/sumhbuda.gif FSUS|_themes/scotland/sumhbuha.gif FSUS|_themes/scotland/sumhbusa.gif FSUS|_themes/scotland/sumvbuda.gif FSUS|_themes/scotland/sumvbuha.gif FSUS|_themes/scotland/sumvbusa.gif FSUS|_themes/scotland/sumhomda.gif FSUS|_themes/scotland/sumhomha.gif FSUS|_themes/scotland/sumhomsa.gif FSUS|_themes/scotland/sumnexda.gif FSUS|_themes/scotland/sumnexha.gif FSUS|_themes/scotland/sumnexsa.gif FSUS|_themes/scotland/sumpreda.gif FSUS|_themes/scotland/sumpreha.gif FSUS|_themes/scotland/sumpresa.gif FSUS|_themes/scotland/sumupda.gif FSUS|_themes/scotland/sumupha.gif FSUS|_themes/scotland/sumupsa.gif FSUS|_themes/scotland/sumbul1a.gif FSUS|_themes/scotland/sumbul2a.gif FSUS|_themes/scotland/sumbul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
