/* CSS Document */
/*
#=====================  FONTS  ===============================================
# font-comic.css
# 
# part of the Gemini Two & FixFlow skin for Pmwiki
#============================================================================*/
/*======= Master font sizes =========*/

#content { font-size: 100%; }
#rightbar { font-size: 80%; }
#sidebar { font-size:85%; }
#topnav { font-size:80%;}
#footnav { font-size:80%;}
#footer { font-size:80%; }

/*=============================*/
.pageheader { font-size:2.0em; font-family: "Comic Sans MS", cursive; }

#pagegroup { font-size:1.2em; font-weight:600;
	     font-family: "Comic Sans MS", cursive; 
	     padding-top: 1em;}
#pagetitle h1 { font-size:2.0em; font-weight:700; 
  	     font-family: "Comic Sans MS", cursive; }
  	     
#content { font-family: "Comic Sans MS", cursive; }

#content h1, #content h2, #content h3, 
#content h4, #content h5, #content h6 {  
		font-style: normal;
		font-weight:600; 
		line-height:133%; 
		font-family:"Comic Sans MS", cursive; }
#content h1 { font-size:2.1em; }
#content h2 { font-size:1.9em; border-bottom:1px solid }
#content h3 { font-size:1.5em; }
#content h4 { font-size:1.3em; font-style:italic }
#content h5 { font-size:1.1em; }
#content h6 { font-size:1.0em; font-variant:small-caps;}

#sidebar h1 { font-size:1.1em; }
#sidebar h2 { font-size:1.05em; }
#sidebar h3 { font-size:1.0em; }
#sidebar h4 { font-size:1.1em; }
#sidebar h5 { font-size:1.05em; }
#sidebar h6 { font-size:1.0em; }
p.sidehead { font-size:1.1em; font-weight:700; }

#topnav, #rightbar, #footnav, #footer{ font-family:"Comic Sans MS", cursive; } 
#sidebar { font-family:"Comic Sans MS", cursive;}

#rightbar h1 { font-size:1.7em }
#rightbar h2 { font-size:1.5em }
#rightbar h3 { font-size:1.3em }
#rightbar h4 { font-size:1.2em }
