/* CSS Document */
/*================ Right Bar ==========================
# rightbar-narrow.css
# 
# part of the Gemini Two skin for Pmwiki
#======================================================*/
		
#rightbar { 
		width:12em; /* change RightBar width here*/
		margin:-1em -2.5em 0.25em 0.5em; /* first value for vertical position, second for right side (not IE) */
		padding:0 0.5em 0.3em 0.5em;
		float:right;
		line-height:1.3em;
		} 
* html #rightbar { width: 12em; /* for IE: width + margins */
		margin:-1em -1.2em 0.25em 0.5em; } /* for IE  */
		
#rightbar ul { margin:0.3em 0; padding:0; list-style:none }
#rightbar li a { margin:0 0 0 0.5em; }
#rightbar ul ul li a { margin:0 0 0 1.5em; }


