.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: url(sumglob.gif) }
.mstheme-topbar-font { color: rgb(102,102,153); font-size: 8pt; font-family: Arial, Arial, Helvetica }
body         { background-image: url('tartan.gif'); font-family: Verdana, Arial, Helvetica }
button       { font-size: 8pt; font-style: normal; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-family: Verdana, Arial, Helvetica; font-style: Normal }
fieldset     { font-family: Arial, Helvetica; font-size: 8pt; font-style: normal; 
               border-style: solid; border-width: 1pt }
h1           { font-weight: normal; font-style: normal; font-size: 24pt; font-family: 
               Verdana, Arial, Helvetica }
h2           { font-family: Verdana, Arial, Helvetica; font-style: normal; font-size: 18pt; 
               font-weight: normal }
h3           { font-family: Verdana, Arial, Helvetica; font-size: 14pt; font-weight: normal; 
               font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal; font-family: 
               Verdana, Arial, Helvetica }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               Verdana, Arial, Helvetica }
h6           { font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-style: normal; 
               font-weight: normal }
label        { font-style: normal; font-family: Arial, Helvetica; font-size: 8pt }
label, .mstheme-label { font-size: 8pt; font-family: Arial, Helvetica; font-style: normal }
legend       { font-style: Normal; font-size: 8pt; font-family: Verdana, Arial, Helvetica }
marquee      { font-family: Verdana, Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-family: Arial, Helvetica; font-size: 8pt; 
               border-style: solid; border-width: 1pt }
table        { font-family: Verdana, Arial, Helvetica; font-style: normal }
textarea     { font-style: normal; font-size: 8pt; font-family: Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
th           { font-family: Verdana, Arial, Helvetica; font-style: normal }
